.listWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
}

.listWrapper:hover {
  background-color: #f5f5f5;
  border-radius: 6px;
}

.delete {
  position: absolute;
  right: 0;
  top: 0;
}

.rightWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
.link {
  font-size: 14px;
  font-weight: 400;
  color: grey;
}
.voteWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-top: 10px;
}
.vote {
  font-size: 12px;
  font-weight: 600;
  color: grey;
  display: flex;
  align-items: center;
}
