.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container hr {
  width: 300px;
  border: 1px solid grey;
  margin-top: 17px;
}
